{% assign number_of_comments = article.comments_count %}

<section class="banner banner-page" style="background-color: #1e1e1e ">
    {% comment %}<div class="banner--image" style="background-image: url({{ article | img_url: '1600x'  }}); opacity:0.3; "></div>{% endcomment %}
    <div class="full-height-inner">
        <div class="container banner--container banner--container--large">
            <div class="text-center color-white">
                <div class="banner--text">
                    <h1 >{{ article.title }}</h1>
                    <hr class="divider">
                    <p>{{ article.excerpt }}</p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="modifyArticleTemplate section" itemscope itemtype="http://schema.org/Article">
    <div class="container-standard">

        <div class="grid sticky__sidebar">

            <div class="grid__item three-quarters md-dn--one-whole post-content-padding post-content relative" itemprop="articleBody">

                <header class="article-header">
                    <div class="grid">
                        <div class="grid__item one-half">
                            <span class="bl__author">
                                <i class="eeyeicon-i-user"></i>
                                {{ article.author }}
                            </span>
                        </div>
                        <div class="grid__item one-half text-right">
                            <span>
                                <i class="eeyeicon-i-clock"></i>
                                {% include 'date', date_object: article.published_at  %}
                            </span>
                        </div>
                    </div>
                </header>

                <div class="banner--image-container">
                  {% comment %} <div class="banner--image" style="background-image: url({{ article | img_url: '1600x'  }}); opacity:0.3; "></div> {% endcomment %}
                  <img
                      data-sizes="auto"
                      alt="{{ article.image.alt }}"
                      src="{{ article | img_url: '1600x' }}"
                      data-src="{{ article | img_url: '600x'  }}"
                      data-srcset="{{ article | img_url: '600x'  }} 600w,
                                  {{ article | img_url: '900x'  }} 900w,
                                  {{ article | img_url: '1200x'  }} 1200w"
                      class="lazyload banner--image full blur-up" />
                </div>

                {{ article.content }}

                <div class="post-social-wrapper">
                    {% assign share_image = product.featured_image.src | img_url: 'grande' %}
                    {% capture tweet %}{{ article.title }}: {{ article.url }}{% endcapture %}
                    <ul class="social-icons">
                        <li class="inline-block">
                            <a href="//www.facebook.com/sharer/sharer.php?u={{ shop.url }}{{ article.url }}" target="_blank" class="social--color social-icons__link color--light">
                                {% include 'svg-icon', icon: 'facebook' %}
                            </a>
                        </li>
                        <li  class="inline-block">
                            <a href="//twitter.com/home?url={{ share_url }}text={{ tweet }}" target="_blank" class="social--color social-icons__link color--light">
                                {% include 'svg-icon', icon: 'twitter' %}
                            </a>
                        </li>

                        {% if template.name == 'article' %}
                            <li  class="inline-block">
                                <a href="//pinterest.com/pin/create/button/?url={{ shop.url }}{{ article.url }}&media={{ article | img_url: '1600x'  }}&description={{ article.title }}" class="social--color social-icons__link color--light" target="_blank" >
                                    {% include 'svg-icon', icon: 'pinterest' %}
                                </a>
                            </li>
                        {% endif %}

                        <li  class="inline-block">
                            <a href="mailto:?&subject={{ article.title }}&body={{ shop.url }}{{ article.url }}" class="social--color social-icons__link color--light" target="_blank" >
                                {% include 'svg-icon', icon: 'email' %}
                            </a>
                        </li>
                    </ul>
                </div>
              
              {% include 'electric__newsletterform' %}
              
            </div>
            <div class="grid__item one-quarter md-dn--one-whole">
              <div id="blogSidebar">
                {% include 'electric__searchbar' %}
                <div class="sidebarlist">
                    <div class="sidebarlist-title">RECENT POSTS</div>
                    <ul class="sidebarlist-list">
                        {% for article in blog.articles limit: 3 %}
                            <li class="sidebarlist-item">
                                {% for tag in article.tags limit: 1 %}
                                    <a class="sidebarlist-tag-link hide" href="/blogs/{{ blog_slug }}/{{ tag }}">#{{ tag }}</a>
                                {% endfor %}
                                <a class="sidebarlist-link" href="{{ article.url }}">{{ article.title }}</a>
                            </li>
                        ​{% endfor %}
                    </ul>
                </div>
            </div>
          </div>   
        </div>
    </div> <!-- /.container-standard -->
</section>  <!-- /section.section -->


{% schema %}
  {
    "name": "Article pages",
    "class": "section-article",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_share_links",
        "label": "Show share links"
      },
      {
        "type": "checkbox",
        "id": "show_tags",
        "label": "Show tags"
      },
      {
         "type":    "header",
         "content": "Related products"
      },
      {
         "type":      "text",
         "id":        "related_products_heading",
         "label":     "Title",
         "info":      "Title for related products sectin",
         "default":   "Related Products"
      },
      {
        "type": "checkbox",
        "id": "show_related_products",
        "label": "Enable related products",
        "info":   "Show products that share the same tag as the article."
      },
      {
        "type": "checkbox",
        "id": "show_description_related",
        "label": "Show excerpt on related products",
        "info":   "Shown if there is only 1 related product"
      },
      {
        "type": "checkbox",
        "id": "show_quantity",
        "label": "Show quantity on related products",
        "info":   "Shown if there is only 1 related product"
      },
      {
         "type":    "header",
         "content": "Related articles"
      },
      {
        "type": "checkbox",
        "id": "show_related_articles",
        "label": "Enable related articles",
        "info":   "Show related articles from the same blog."
      }
    ],
   "name": "Newsletter",
   "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Sign up to our newsletter"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Text",
      "default": "Receive special offers and first look at new products."
    }
  ]


  }
{% endschema %}

<style>

 .grid.news-section  {
    margin-left:0px;
  }
  .blog--news--content
  {padding-right:32px;}

  input[type='email']::-moz-placeholder
  {
    color: #000 !important;
    opacity:1;
  }
  input[type='email']::-webkit-input-placeholder {
    color: #000 !important;
    opacity:1;
  }
  input[type='text']::-moz-placeholder
  {
    color: #000 !important;
    opacity:1;
  }
  input[type='text']::-webkit-input-placeholder
  {
    color: #000 !important;
    opacity:1;
  }
 .input-height{height:37px;}

 @media only screen and (min-width:320px) and (max-width:767px)
  {
    .newsletter__form {
      max-width: 360px;
      width: 100%;}
    .btn.newsletter__submit {float:none;}
  }
 @media only screen and (min-width:768px)
  {
    .btn.newsletter__submit {float:right;}
    input#drip-last-name {margin-left: 8px; width:48%;}
    input#drip-first-name {margin-right:8px; width:48%;}
  }
 @media screen and (min-width:1025px) and (max-width:1173px)
  {
    .blog--news--content
    { max-width:50%;
      padding-left:64px;
      padding-right:64px;}
    input#drip-last-name {margin-left: 6px; width:48%;}
    input#drip-first-name {margin-right: 6px; width:48%;}
    input#drip-email{width:60%;}
  }
 @media screen and (min-width:1174px)
  {
    .blog--news--content
    { max-width:50%;
      padding-left:64px;
      padding-right:64px;}

    input#drip-email{width:68%;}
  }
 @media screen and (max-width:1024px){ .rte--article p {max-width:100%;}}

 @media screen and (min-width:1025px)
  {
    .article-comment-width {max-width:50%;}
  }
 @media screen and (min-width:768px) and (max-width:1024px)
  {
    .article-comment-width {max-width:100%;   }

  }

  </style>
