<section class="section large" style="background-color: {{ section.settings.section_background }}" >

    <div class="container-fluid">
        <div class="text-entry">
            <h2 class="section-heading text-capitalize"  style="color: {{ section.settings.section_text_color }}">
                {{ section.settings.heading }}
            </h2>
            <div class="width-limiter--middle box-center">
                <div class="section-content"  style="color: {{ section.settings.section_text_color }}">
                    {{ section.settings.section_content }}
                </div>
            </div>
        </div>

        <div class="newsletter__form mx--auto mt3">

            <!-- <form action="https://www.getdrip.com/forms/8990029/submissions"
                  method="post"
                  class="text-center width-limiter--small box-center"
                  style="color: {{ section.settings.section_text_color }}!important;"
                  data-drip-embedded-form="8990029">
                <div data-drip-attribute="description"></div>

                <div class="form-control">
                    <input type="text" id="drip-first-name" name="fields[first_name]"
                       value="" placeholder="First name"/>
                </div>
              {% comment %}
                <div class="form-control">
                    <input type="text" id="drip-last-name" name="fields[last_name]"
                       placeholder="Last name" value="" />
                </div>
              {% endcomment %}
                <div class="form-control">
                    <input type="email" id="drip-email" name="fields[email]"
                       placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}"
                       value=""/>
                </div>
                <div>
                <input type="submit"
                       class="electric-btn small outlined-white"
                       value="SUBSCRIBE" data-drip-attribute="sign-up-button" style="line-height:1.20;" />
                </div>
            </form> -->

            <script async data-uid="856d581d34" src="https://f.convertkit.com/856d581d34/037b1f1d2d.js"></script>


        </div>

    </div>

</section>

{% schema %}
{
    "name": "Colorfull form",
    "settings": [
        {
            "type": "text",
            "id": "heading",
            "label": "Section Title"
        },
        {
            "type": "textarea",
            "id": "section_content",
            "label": "Section Content"
        },
        {
            "type": "color",
            "id": "section_background",
            "label": "Section Color",
            "default": "#312B3B"
        },
        {
            "type": "color",
            "id": "section_text_color",
            "label": "Section Text Color",
            "default": "#FFFFFF"
        }
    ],
    "presets": [
        {
            "name": "Colorfull form",
            "category": "Electric Custom Content"
        }
    ]
}
{% endschema %}
