<section class="section section--middle" style="background-color: {{ section.settings.section_background }}">
        <div class="repeater-container">
            <div class="row">
                {% for item in section.blocks %}
                    <div class="col-md-6">

                        <div class="item-box">
                            <div class="item-box--image">
                                <img src="{{ item.settings.image_name | asset_url }}" alt="{{ item.settings.item_title }}">
                            </div>
                            <h3>{{ item.settings.item_title }}</h3>
                            <p>{{ item.settings.item_content }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="text-center space-y-65">
                <a class="electric-btn outlined-violet" href="{{ section.settings.url }}">
                    {{ section.settings.linktext }}
                </a>
            </div>

        </div>
</section>


{% schema %}
{
    "name": "Box repeater",
    "settings": [
        {
            "type": "text",
            "id": "linktext",
            "label": "Link text",
            "default": "Learn More"
        },
        {
            "type": "text",
            "id": "url",
            "label": "Url"
        },
        {
            "type": "color",
            "id": "section_background",
            "label": "Section Color",
            "default": "#FFFFFF"
        }
    ],
    "blocks": [
        {
        "type": "image",
        "name": "Item",
        "settings": [
                {
                    "type": "text",
                    "id": "image_name",
                    "label": "Image name"
                },
                {
                    "type": "text",
                    "id": "item_title",
                    "label": "Item Title"
                },
                {
                    "type": "textarea",
                    "id": "item_content",
                    "label": "Item content"
                }

            ]
        }
    ],
    "presets": [
        {
            "name": "Content Repeater",
            "category": "Electric Custom Content"
        }
    ]
}
{% endschema %}
