<!-- /sections/getmore-benefits.liquid -->
  {%- assign backgroundColor = section.settings.background_color -%}
  {%- assign backgroundImage = section.settings.background_image -%}
  
  {%- assign buttonText = section.settings.button_text -%}
  {%- assign buttonURL = section.settings.button_url -%}
  {%- assign sectionTitle = section.settings.title -%}
  {%- assign sectionTitleColor = section.settings.sectionTitle_color -%}
  
  {%- assign authorColor = section.settings.author_color -%}
  {%- assign companyColor = section.settings.company_color -%}
  {%- assign testimonialColor = section.settings.testimonials_color -%}


<section class="getmore benefits">
  <h4 class="title">{{ sectionTitle }}</h4>
    <div class="wrapper-cards">

    {% for item in section.blocks %}
      <div class="card" style="background-image: url({{ item.settings.author_image | img_url: '500x' }})">
        <div class="wrapper-content">
          <p class="card-title">{{ item.settings.author_name }}</p>
          <div class="text">
            {{ item.settings.testimonial }}
          </div>
        </div>
      </div>
    {% endfor %}

  </div>
  
  {%- if buttonText != blank and buttonURL != blank -%}

    <div class="wrapper-button">
      <a href="{{ buttonURL }}" class="btn-white">
        {{ buttonText }}
      </a>
    </div>
  
  {%- endif -%}

  <style>
    .benefits {
      background: url("{{ backgroundImage | img_url: '2000x' | format: 'pjpg' }}") {{ backgroundColor }};
      background-size: cover;
      background-position: center center;
    }

    .benefits .title {
      color: {{ sectionTitleColor }}
    }

    .benefits .wrapper-content .text {
      color: {{ testimonialColor }}
    }

    .benefits .wrapper-content .card-title {
      color: {{ authorColor }}
    }

    .benefits .wrapper-content .company {
      color: {{ companyColor }}
    }
  </style>
</section>

{% schema %}
  {
    "name": "Benefits",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Section title"
      },
      {
        "type": "color",
        "id": "sectionTitle_color",
        "label": "Section Title color",
        "default": "#50426b"
      },
      {
        "type": "header",
        "content": "Background"
      },
      {
        "type": "image_picker",
        "id": "background_image",
        "label": "Image"
      },      
      {
        "type": "color",
        "id": "background_color",
        "label": "Background color",
        "default": "#50426b"
      },
      {
        "type": "header",
        "content": "Testimonials"
      },
      {
        "type": "color",
        "id": "author_color",
        "label": "Author color",
        "default": "#50426b"
      },
      {
        "type": "color",
        "id": "testimonials_color",
        "label": "Testimonials color",
        "default": "#a6a6a6"
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "Item",
        "settings": [
          {
            "type": "image_picker",
            "id": "author_image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "author_name",
            "label": "Author"
          },
          {
            "type": "richtext",
            "id": "testimonial",
            "label": "Testimonials"
          }
        ]
      }
    ],
    "presets": [
    {
      "name": "Benefits",
      "category": "GETMORE SECTIONS"
    }
  ]
  }
{% endschema %}