{% include 'shogun-products', content: product %}
{{product.metafields.shogun.above}}

<div class="et">

    {% section 'product-template' %}
    {% section 'electric__topimage-text-section' %}

</div>
<!-- spurit_occ-added -->
{% include 'spurit_occ-product-snippet' %}
<!-- /spurit_occ-added -->


{{product.metafields.shogun.below}}


<!-- DRIP_PRODUCT_TRACKING_V1 -->
<script text="text/javascript">
  var _dcq = _dcq || [];
  _dcq.push(['recordProductView', {{ product|json }}, {{ product.collections|map:'id'|json }}, '{{shop.currency}}', '{{ product.url }}']);
</script>
<!-- END_DRIP_PRODUCT_TRACKING_V1 -->
